{% extends "basicapp/basi_app_base.html" %}

{% block body_block %}


<h1><span class="blue"></span>Course<span class="blue"></span> <span class="yellow">Details</pan></h1>
<h2>Createdby <a href="" >Shaikh Al Mufeed</a></h2>

<table class="container">

	<thead>
		<tr>
			<th><h1>Name Of Courses</h1></th>
			<th><h1>Lecturer</h1></th>
			<th><h1>Level</h1></th>

		</tr>
	</thead>
	<tbody>
    {% for course in courses  %}
		<tr>
			<td><a href="{{ course.id }}">{{ course.name}}</a></td>
			<td>{{ course.lecturer }}</td>
			<td>{{ course.level }}</td>

		</tr>
	</tbody>
    {% endfor %}
</table>




{% endblock %}
